<div class="thankyou">
  <h1>Thank you so much for getting in contact with us</h1>
  <hr>
  <%=image_tag("somebody dabbing.gif")%>
  <div>
    <%=link_to(home_support_path) do%>
      <div class="content-link-block">
        Click to return to the main page
      </div>
    <%end%>
  </div>
</div>
