// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frontlistheader {
  border: solid #821749 1px;
  border-radius: 3px;
  background-color: #821749;
  color: white;
  font-size: 1rem;
  height: 35px;
  line-height: 35px;
  padding-top: 3px;
  text-align: center;
}

.frontlist {
  border: solid 2px #821749;
  border-radius: 3px;
  padding-bottom: 30px;
}

.frontlistcontent {
  margin: 10px;
}

.tableheadings {
  font-weight: 700;
}

.frontpagedatarow:hover {
  background-color: #F8F8F8;
}

.jumbotron {
  background-image: url('homepagesearchbackground.jpeg');
  background-size: cover;
  height: 350px;
  color: white;
}

.jumbotron-title {
  background-color: #821749;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 400;
}

.pad {
  padding-bottom: 250px;
}

.tenp-space {
  display:inline-flex;
  width: 10%;
}

.searchbardiv {
  padding-top: 50px;
}

.searchbardiv,
.searchbuttondiv {
  display: inline-flex;
  width: 80%;
  justify-content: center;
  padding-bottom: 30px;
}

.searchfield {
  width: 100%;
}

@media (max-width: 768px) {
  .filter {
    display: none;
  }
}

.content-link-block {
  background-image: url("button_background-homepage.jpeg");
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;

}

.content-link-block {
  display: flex;
  font-size: 1.8rem;
  color: white;
  transition-duration: 0.5s;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.content-link-block:hover{
  text-decoration: none;
  font-size: 2rem;
}

.content-link-block p:hover {
  text-decoration: none;
}

p:hover,
a:hover {
  text-decoration: none;
}

.pad10 {
  padding-bottom: 30px;
}

.title {
  text-align: center;
}

.donatebutton {
  text-align: center;
}

.btn-outline-custom {
  text-align: center;
}

#send-button {
  width: 100%;
}

@media (max-width: 768px) {

  .contact_details h5 {
    font-size: 15px;
  }
  .contact_details {
    padding-top: 30px;
  }
}
