// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forminput {
  width: 80%;
}

#timestamp {
  color: grey;
}

#title {
  font-weight: 300;
  text-align: center;
}

@media (min-width: 576px) {
  .resourcelinkside {
    border-left: 3px solid black;
  }

}

.resourcebutton {
  border: 1px solid black;
  width: 300px;
  height: 50px;
  line-height: 50px;
  transition-duration: 0.5s;
}

.resourcebutton:hover {
  background-color: #F8F8F8;
}

.type-icon {
  height: 40px;
  padding: 5px 10px;
  border-right: solid black 1px;
}

.youtubevideo {
  width: 100%;
  height: 300px;
}

#searchbarsubtitle {
  text-align: center;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.searchfield {
  width: 100%;
}

.layoutbutton {
  width: 100%
}

.tableicon {
  height: 30px;
  border-left: solid white 1px;
  border-right: solid white 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.tableheader {
  line-height: 30px;
  background-color: #821749;
  border-radius: 10px;
  color: white;
  padding-top : 6px;
}

.tableheader p {
  padding-top: 5px;
}

.tick {
  text-align: center;
}

.tableheader .col-1 {
  text-align: center;
}
.datarow {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  transition-duration: 0.5s;
}

.datarow:hover {
  background-color: #F8F8F8;
}

.admin {
  position: relative;
  color: white;
  text-align:center;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #821749; /* fallback color if gradients are not supported */
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1rem;
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
  padding: 6px 12px;

}

select:hover {
  background-color: #9b003c;
}

#easy {
  background-color: #85d884;
}

#hard {
  background-color: #b74533;
}

#useful {
  background-color: #eda115;
}

#easy,
#hard,
#useful {
  float: right;
}
