// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accountinformation {
  text-align: center;
  font-size: 1.4rem
}

.accountvariables {
  border: solid 1px #821749;
  padding: 8px;
  border-radius: 5px;
}

.popup {
  background-color: white;
  border: solid 1px #821749;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.popup-header {
  background-color: #821749;
  color: white;
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.popup-body {
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.warning {
  background-color: lightpink;
  color: darkred;
  text-align: center;
  border: solid 1px darkred;
  border-radius: 5px;
  margin: 5px;
}

#dropdown-admin,
#dropdown-moderator {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 25%;
}

.verified {
  background-color: lightgreen;
  color: darkgreen;
  border: solid darkgreen 1px;
  border-radius: 5px;
  text-align: center;
}
