// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-box-container {
  border: solid 3px #821749;
  border-radius: 5px;
}

.video-box-title {
  padding-top: 6px;
  background-color: #821749;
  color: white;
}

.videorow {
  padding: 10px 0px;
}

.youtubevideo {
  padding: 10px;
  height: 162px;
  width: 288px;
}

@media (max-width: 768px) {
  .filter {
    display: none;
  }
}

.searchbutton {
  width: 100%;
}

.scroll {
  height: 900px;
  overflow: hidden;
  overflow-y: scroll;
}

.videoinformation {
  background-color: lightyellow;
  border: solid beige 2px;
  border-radius: 5px;
}

.videoinformation p {
  margin: 10px;
}

.noticetitle {
  color: grey;
}
